<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString_Tests"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tests; 
         Integrated Security=true"
         providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>